._homepage_feautured {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: 400px;
    grid-gap: 14px;
}




@media only screen and (max-width: 840px) {
    ._homepage_feautured {
        grid-template-columns: repeat(3, 200px);
    }
}

@media only screen and (max-width: 600px) {
    ._homepage_feautured {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 400px);
    }
}
